#search-container{
	position: relative;
	width: 100%;
	padding-top: 2%;
	overflow: hidden;
	float: right;
}

#search-body{
	float: right;
	position: relative;
	padding-top:15px;
}

#results-container{
	padding-left:6%;
}