<div class="site-category-left">
    <ul>
        <li><a href="{{ site.baseurl }}/blog">All</a></li>
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "category" %}
                    {% if node.title == "JPA" or node.title == "Java" or node.title == "Algorithm" or node.title == "others" or node.title == "DevOps" or node.title == "Exception" or node.title == "kotlin" or node.title == "Spring" %}
                    <li>
                    <a class="category-link {% if page.url == node.url %} active {% endif %}"
                       href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>